# =========================
# Maven / Spring Boot
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Variables
# =========================
.env

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# Docker
# =========================
docker-data/

# =========================
# Temporary Files
# =========================
*.tmp
*.swp